<!--Imported footer from main site-->

   <footer>
      <div class="main-content">
<!------------------------------------------------------------left box------------------------->        
        <div class="left box">
          <h2><span>Lin</span><span>ks</span></h2>
          <div class="content">
            <ul>
              <li><a href="https://damianroiz.com/onpoint/">Home</a></li>
              <li><a href="https://damianroiz.com/onpoint/index.html#about">About</a></li>
              <li><a href="https://damianroiz.com/onpoint/index.html#services">Sevices</a></li>
              <li><a href="https://damianroiz-blog.netlify.app/">Blog</a></li>
              <li><a href="https://damianroiz.com/onpoint/shop/">Shop</a></li>
            </ul>
          </div>
        </div>

<!------------------------------------------------------------center box------------------------->
        <div class="center box">
          <h2><span>Soci</span><span>al</span></h2>
          <div class="content">
            <div class="social">
              <a href="https://twitter.com/damianroiz" target="_blank" class="fab fa-twitter"></a>
              <a href="https://www.instagram.com/damianroiz" target="_blank" class="fab fa-instagram"></a>
              <a href="#" target="_blank" class="fab fa-youtube"></a>
            </div>
          </div>
        </div>
<!------------------------------------------------------------right box------------------------->
        <div class="right box" id="newsletter">
          <h2><span>Newsle</span><span>tter</span></h2>
          <div class="content">
            <form action="#">
              <div class="field-wrapper">
                <input id="fullname" type="text" name="fullname" placeholder="Name" data-name="fullname" required="" />
              </div>
              <div class="field-wrapper">
                <input id="email" type="email" name="email" placeholder="E-mail" data-name="email" required="" />
              </div>
              <div class="subscribe-btn">
                <button type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
<!------------------------------------------------------------footer bottom------------------------->      
      <div class="footer-bottom">
        <p>Created By<a href="https://damianroiz.com/" target="_blank"> Yours Truly</a>
          | <span class="far fa-copyright"></span> 2022 All rights reserved.
        </p>
        <p>
          <a href="#" target="_blank">Terms and Conditions</a><a href="#" target="_blank"> Privacy Policy</a>
        </p>
      </div>
    </footer>

