<header>     
    <nav>
        <ul class="nav-bar">
            <li class="logo">Damian Roiz</li>
            <li class="items"><a href="https://damianroiz.com/index.html">Home</a></li>
            <li class="items"><a href="https://damianroiz.com/index.html#about">About</a></li>
            <li class="items"><a href="https://damianroiz.com/index.html#services">Services</a></li>
            <li class="items"><a href="https://damianroiz-blog.netlify.app/index.html">Blog</a></li>
            <li class="items"><a href="https://damianroiz.com/index.html#newsletter">Newsletter</a></li>
            <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>    
        </ul>
    </nav>

    <script>
        $(document).ready(function(){
            $('.btn').click(function(){
              $('.items').toggleClass('show');
              $('ul li').toggleClass('hide');
            });
        });
    </script>
</header>