@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&family=Poppins&family=Raleway:wght@600&display=swap);

:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-nav: "open-sans", sans-serif;
  --ff-body: "lato", sans-serif;
  --ff-button: "poppings", sans-serif;
  --ff-heading: "Raleway", sans-serif;

  --fw-400: 400;
  --fw-600: 600;

  --clr-primary-200: #e0e3f0;
  --blue-primary: #1e90ff;
  --btn-hover: #0d4171;
  --btn-subscribe: #159f13;
  --btn-subscribe-hover: #117e0f;

  --main-white: #f8f5f5;
  --main-text-black: #272b2e;
  --secondary-dark: #303036;
  --primary-dark: #151515;
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: var(--ff-body);
}

button {
  font: var(--ff-button);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--primary-dark);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-600);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-600);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--btn-hover);
}

.article-title {
  font-size: var(--fs-600);
}

.section-title {
  font-size: var(--fs-600);
}

/* //////////////////////
  Header
  /////////////////////// */

/* .page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--primary-dark);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--blue-primary);
  text-decoration: underline;
} */

/*Imported from main*/

nav {
  background: var(--secondary-dark);
  padding: 5px 40px;
  height: 100px;
}

nav ul.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  list-style: none;
  max-height: auto;
  padding-top: 15px;
}

nav ul.nav-bar li {
  cursor: pointer;
  align-self: center;
}

nav ul.nav-bar li.logo {
  flex: 1;
  color: var(--main-white);
  font-family: var(--ff-nav);
  letter-spacing: 1px;
  font-size: var(--fs-600);
  font-weight: var(--fw-400);
  cursor: default;
  user-select: none;
}

nav ul.nav-bar li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
  font-family: var(--ff-nav);
  letter-spacing: 1px;
}

nav ul.nav-bar li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: var(--blue-primary);
  opacity: 0;
  transition: all 0.2s ease-out;
}

nav ul.nav-bar li.items:hover:after {
  opacity: 1;
  bottom: -8px;
}

nav ul.nav-bar li a {
  color: var(--main-white);
  font-size: var(--fs-300);
  text-decoration: none;
  transition: 0.4s;
}

nav ul.nav-bar li:hover a {
  color: var(--blue-primary);
}

nav ul.nav-bar li i {
  font-size: 23px;
}

nav ul.nav-bar li.btn {
  display: none;
}

nav ul.nav-bar li.btn.hide i:before {
  content: "\f00d";
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul.nav-bar li.items {
    width: 100%;
    display: none;
  }
  nav ul.nav-bar li.items.show {
    display: block;
  }
  nav ul.nav-bar li.btn {
    display: block;
  }

  nav ul.nav-bar li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px var(--blue-primary), inset 0 0 10px #3f9efc;
  }
  nav ul.nav-bar li.items:hover:after {
    opacity: 0;
  }
}

/* //////////////////////
  Footer
  /////////////////////// */

/* .site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  color: var(--clr-neutral-100);
  background-color: var(--btn-hover);
  text-align: center;
} */

/*Imported footer from main*/

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #303036;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue-primary);
}

.box .content {
  margin: 20px 0 0 0;
  color: var(--main-white);
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100px;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: var(--blue-primary);
  top: -10px;
}

.box .content p {
  text-align: justify;
}

.box .content .social {
  margin: 20px 0 0 0;
}

.center .content .social a {
  padding: 0 2px;
}

.center .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--main-white);
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.center .content .social a span:hover {
  background: var(--blue-primary);
}

.center .content .fas:hover {
  background: var(--blue-primary);
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.right form .field-wrapper {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: var(--main-white);
}

.right form .msg {
  margin-top: 10px;
}

.right form input {
  width: 100%;
  font-size: 1.0625rem;
  color: var(--main-white);
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  border-radius: 5px;
  margin: 10px 0;
}

.right form input:focus {
  outline-color: var(--blue-primary);
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .subscribe-btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  font: var(--ff-button);
  letter-spacing: 0.5px;
  color: var(--main-white);
  background: var(--btn-subscribe);
  border-radius: 5px;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right form .subscribe-btn button:hover {
  background: transparent;
  color: var(--btn-subscribe);
  border: 2px solid var(--btn-subscribe);
}

.bottom {
  margin-top: 20px;
  padding: 15px;
  font-size: 0.9375rem;
  background: #151515;
}

.bottom p {
  color: var(--main-white);
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.05rem;
  margin: 10px;
}

.bottom a {
  color: #6875ff;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.bottom a.credit {
  margin-right: 10px;
}

.bottom a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

.main-article {
  margin-bottom: 3rem;
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: 0.9;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--main-text-black);
}

.snippet__meta span {
  color: var(--primary-dark);
}

.snippet .btn {
  grid-area: button;
  justify-self: end;
  align-self: center;
}

.snippet__title {
  color: var(--primary-dark);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--btn-hover);
}

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--blue-primary);
  outline-offset: 0.25em;
}

.btn--primary {
  font-family: var(--ff-button);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  letter-spacing: 0.5px;
  background: var(--blue-primary);
  color: var(--main-white);
  border: 2px solid var(--blue-primary);
  transition: 0.3s;
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: transparent;
  color: var(--blue-primary);
  border: 2px solid var(--blue-primary);
}

.btn--neutral {
  background-color: var(--btn-hover);
  color: var(--main-white);
  font-weight: var(--fw-400);
  border: 2px solid var(--blue-primary);
  border: 2px solid var(--blue-hover);
  transition: 0.3s;
}

.btn--neutral:hover,
.btn--neutral:focus {
  background-color: var(--clr-neutral-100);
  color: var(--blue-primary);
  background-color: var(--btn-hover);
  border: 2px solid var(--blue-primary);
}
